<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/5be1880edb.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>PBD LAB 4 NOTE LIST</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(2, 2, 48);
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background: #070223;
            background: -moz-radial-gradient(center, #070223 0%, #040475 0%, #080228 100%);
            background: -webkit-radial-gradient(center, #070223 0%, #040475 0%, #080228 100%);
            background: radial-gradient(ellipse at center, #070223 0%, #040475 0%, #080228 100%);und: radial-gradient(ellipse at center, #070223 0%, #020237 50%, #080228 100%);
        }
        
        body {
            font-family: "Lucida Console", Monaco, monospace;
            background-image: url(https://i.pinimg.com/originals/08/eb/a1/08eba1de6100c1f367c847c512ba0ad4.gif);
        }
        h5 , h6 , h6, p{
            padding: auto ;
            background-color:rgb(0, 0, 0)
        }
        .card-title, .card-to, .card-from, .card-text{
            color:rgb(0, 175, 131)
            
        }
        .card-body {
            background-color:rgb(15, 126, 160)
        }
        .card {
            background-color:#000000
        }
    </style>
</head>
  <body>
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/lab-4"><i class="fas fa-home"></i>     HOME</a></li>
            <li><a href="http://127.0.0.1:8000/lab-4/add-note"><i class="far fa-sticky-note"></i>    ADD NOTE</a></li>
            <li><a href="http://127.0.0.1:8000/lab-3/add"><i class="fas fa-user-plus"></i>     ADD FRIEND</a></li>
            <li><a href="http://127.0.0.1:8000/lab-3"><i class="fas fa-user-friends"></i>     FRIEND LIST</a></li>
            <li><a href="http://127.0.0.1:8000/lab-1"><i class="far fa-address-card"></i>     ABOUT ME</a></li>
        </ul>
    </nav>
    <h1 style="text-align: center; color: rgb(0,35,63) ; margin: 0; font-size: 50px; background-color: rgba(217,255,255,255)"> Notes Card List</h1>   
    <div class="container">
        <div class="card-columns">
        {% for element in data_note_list %}
        <div class="card" style="width: 20rem; border-radius: 15px 15px 15px 15px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);">
          <div class="card-header" style="background-color: #000000; border-radius: 15px 15px 15px 15px;">
            <p style="color: white;">Message Note Card</p>
          </div>
          <div class="card-body">
            To: {{element.to}}
          </br>
            From: {{element.from_user}}
          </br>
            Title: {{element.title}}
          </br>
            Message: {{element.message}}
          </div>
        </div>
    {% endfor %} 
  </body>
</html>