<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://kit.fontawesome.com/5be1880edb.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <title>
        PBD LAB 4 NOTE TABLE
    </title>
    <style>
        .table {
            font-size: 18px;
            letter-spacing: 1px;
            word-spacing: 0px;
            color: #000000;
            font-weight: 700;
            text-decoration: none solid rgb(68, 68, 68);
            font-style: normal;
            font-variant: normal;
            text-transform: capitalize;
            width: 100%;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(2, 2, 48);
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background: #070223;
            background: -moz-radial-gradient(center, #070223 0%, #040475 0%, #080228 100%);
            background: -webkit-radial-gradient(center, #070223 0%, #040475 0%, #080228 100%);
            background: radial-gradient(ellipse at center, #070223 0%, #040475 0%, #080228 100%);und: radial-gradient(ellipse at center, #070223 0%, #020237 50%, #080228 100%);
        }
        th {
            text-align: center;
            color : rgb(204,0,0)
            
        }
        td {
            text-align: left;
            color : rgb(204, 0, 0)
        }
        table, th, td{
            border: 1px solid #aa0000c7;
            border-collapse: separate;
            background-color: rgb(6, 8, 31);
        }
        th, td{
            padding: 10px 105px;
            background-color:rgba(4, 12, 46, 0.829)
        }
        body {
            font-family: "Lucida Console", Monaco, monospace;
            background-image: url(https://wallpaperaccess.com/full/5687503.gif);
        } 
      </style>
  </head>
  
  <body>
    <nav>
        <ul>
          <li><a href="http://127.0.0.1:8000/lab-4"><i class="fas fa-home"></i>     HOME</a></li>
          <li><a href="http://127.0.0.1:8000/lab-4/add-note"><i class="far fa-sticky-note"></i>    ADD NOTE</a></li>
          <li><a href="http://127.0.0.1:8000/lab-4/note-list"><i class="fas fa-vr-cardboard"></i>    NOTE LIST</a></li>
          <li><a href="http://127.0.0.1:8000/lab-3/add"><i class="fas fa-user-plus"></i>     ADD FRIEND</a></li>
          <li><a href="http://127.0.0.1:8000/lab-3"><i class="fas fa-user-friends"></i>     FRIEND LIST</a></li>
          <li><a href="http://127.0.0.1:8000/lab-1"><i class="far fa-address-card"></i>     ABOUT ME</a></li>
        </ul>
    </nav>
    <h1 style="text-align: center; color: rgb(130,0,92) ; margin: 0; font-size: 50px; background-color: rgba(4, 12, 46, 0.829)"> Notes Card Table</h1>
    <table class = "table">
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
        <!-- TODO loop -->
        <!-- EXAMPLE SECTION -->
        {% for element in data %} <!--create a looping for input-->
        <tr>
          <td>{{ element.to }}</td>
          <td>{{ element.from_user }}</td>
          <td>{{ element.title }}</td>
          <td>{{ element.message }}</td>
        </tr>
        {% endfor %}
        <!-- END SECTION -->
      </table>
  </body>
</html>