<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
        PBD_LAB_2
    </title>
  </head>
  <body>
    <h1 style="text-align: center;">
      <img src="https://acakadul.files.wordpress.com/2013/08/makara-ui-fasilkom.png" alt="" width="80" height="80" /> 
      <span style="color: #0000ff;">
        <strong>
          Welcome To 
        </strong>
      </span>
      <span style="color: #ff0000;">
        <strong>
          PBD LAB_2
        </strong>
      </span> 
      <img src="https://acakadul.files.wordpress.com/2013/08/makara-ui-fasilkom.png" alt="https://acakadul.files.wordpress.com/2013/08/makara-ui-fasilkom.png" width="80" height="80" />
    </h1>
    <hr />
    <table>
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
        <!-- TODO loop -->
        <!-- EXAMPLE SECTION -->
        {% for element in data %} <!--create a looping for input-->
        <tr>
          <td>{{ element.to }}</td>
          <td>{{ element.from_user }}</td>
          <td>{{ element.title }}</td>
          <td>{{ element.message }}</td>
        </tr>
        {% endfor %}
        <!-- END SECTION -->
      </table>
  </body>
</html>